name: Actionlint
on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/**'
  pull_request:
    paths:
      - '.github/**'

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: actionlint
      uses: raven-actions/actionlint@v1
      with:
        pyflakes: false # we do not use python scripts
