name: ShellCheck
on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
    lint:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v6
        - name: Run ShellCheck
          uses: azohra/shell-linter@v0.8.0
